<p id="notice"><%= notice %></p>

<h1>Medidas</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Busto/Media/Acercar</th>
      <th>Cintura/Media/Acercar</th>
      <th>Cadera/Media/Acercar</th>
      <th>Media</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @measurements.each do |measurement| %>
    
    
      <tr>
        <td><%= measurement.bust %> | <%= measurement.busto_medida %> | <%= measurement.retornando_busto.round %></td>
        <td><%= measurement.waist %> | <%= measurement.cintura_medida %> | <%= measurement.retornando_cintura.round %></td>
        <td><%= measurement.hip %> | <%= measurement.cadera_medida %> | <%= measurement.retornando_cadera.round %></td>
        <td><%= measurement.media_body %></td>
        <!%= link_to 'Editar', edit_measurement_path(measurement) %>
        <td><%= link_to 'Ver', measurement %></td>
        <td><%= link_to 'Eliminar', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar medida', new_measurement_path %>
