
<div class="row pm-0">
  <div class="col s12 center-align">

    <div class="card">
      <div class="card-image">
       <% if @result == "perla" %>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/perla.mp4", preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% elsif @result == "amatista" %>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/amatista.mp4", preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% elsif @result == "rubí" %>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/rubi.mp4",  preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% elsif @result == "ámbar" %>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/ambar.mp4",  preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% elsif @result == "topacio" %>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/topacio.mp4", preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% elsif @result == "esmeralda"%>
       <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/esmeralda.mp4", preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
        <% elsif @result == "lapislázuli"%>
        <%= video_tag("https://s3.amazonaws.com/tutorialespatronessena/antropometria/lapislazuli.mp4", preload: true, :autoplay => "autoplay", loop: "", class: 'responsive-video')%>
       <% end %>
       <span class="card-title">
        <h5 class="title mb-0 black-text"><strong> <%= @result %></strong></h5>
      </span>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12 m4 offset-m2">
        <a href="#modal1" class="btn modal-trigger btn-large width-100"><i class="large material-icons">3d_rotation</i></a>
        </div>
        <div class="col s12 m4">
       
          <%= link_to 'Nueva medida', new_measurement_path, class:"btn btn-large width-100"  %>
            
       
        </div>
      </div>
    </div>
  </div>


</div>
</div>
<div id="modal1" class="modal" tabindex="0">
  <div class="modal-content">
    <div class="video-container">
     <% if @result == "perla" %>

     <iframe src="https://antropometriaobj.000webhostapp.com/perla.html"  frameborder="0" width="100%" height="300"></iframe>
     <% elsif @result == "amatista" %>
     <iframe src="https://antropometriaobj.000webhostapp.com/amatista.html" frameborder="0" width="100%" height="300"></iframe>
     <% elsif @result == "rubí" %>
     <iframe src="https://antropometriaobj.000webhostapp.com/rubi.html" frameborder="0" width="600" height="300"></iframe>
     <% elsif @result == "ámbar" %>
     <iframe src="https://antropometriaobj.000webhostapp.com/ambar.html" frameborder="0" width="600" height="300"></iframe>
     <% elsif @result == "topacio" %>
     <iframe src="https://antropometriaobj.000webhostapp.com/topacio.html" frameborder="0" width="600" height="300"></iframe>
     <% elsif @result == "esmeralda"%>
     <iframe src="https://antropometriaobj.000webhostapp.com/esmeralda.html" frameborder="0" width="600" height="300"></iframe>
     <% elsif @result == "lapislázuli"%>
     <iframe src="https://antropometriaobj.000webhostapp.com/lapizlazuli.html" frameborder="0" width="600" height="300"></iframe>
     <% end %>
   </div>



 </div>
</div>







